.search-icon {
  font-size: 24px;
  cursor: pointer;
}

.category-card {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-shadow: -2px 2px 2px rgb(0 0 0 / 46%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.category-card h5 {
  z-index: 2;
  font-size: 1.2rem;
  margin: 0;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.084); /* Overlay scuro */
  z-index: 1;
}
.category-card .rotated-bg {
  background-repeat: no-repeat;
  position: absolute;
  bottom: -43%;
  right: -7%;
  width: 48%;
  height: 150%;
  background-size: contain;
  background-position: center;
  transform: rotate(30deg);
  z-index: 0;
  filter: brightness(1);
}
