.search-icon {
  font-size: 24px;
  cursor: pointer;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card-custom img {
  position: absolute;
  bottom: 0px;
  right: -12px;
  width: 95px;
  transform: rotate(25deg);
}

.category-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.category-card h5 {
  z-index: 2;
  font-size: 1.2rem;
  margin: 0;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.196); /* Overlay scuro */
  z-index: 1;
}
